@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EcoMari.com.uy</h1>
    <p>@ViewBag.MensajeBienvenida</p>
    <p>Información sobre Ecosistemas Marinos <a href="https://www.wikipedia.org">aquí!</a></p>
</div>
