@model EcosistemasMarinos.MVC.Models.UsuarioLoginViewModel

@{
    ViewData["Title"] = "Forbidden!!";
}
<h1>@ViewData["Title"]</h1>

<hr />
<h2>Estás intentando entrar a una página a la cuál no estás autorizado.</h2>
<h3>La policía está en camino.</h3>
<div style="height: 500px; width: 1000px; color: #ffffff; background-image: url(https://freefrontend.com/assets/img/403-forbidden-html-templates/403-you-shall-not-pass.png); background-position: center;"></div>